#add_to_cart_wrap{

    #paypal-button{
        margin-top: 12px;
    }
}

.o_payment_form{
    #paypal-button{
        margin-top: 12px;
    }
}

#for_desktop{
    .pro_paypal_button{
        width: 342px;
    }
}

#o_cart_summary{
    .cart_paypal_button{
        margin-top: 10px;
        padding-left: 5px;
    }
}

.paypal-buttons{
        height:35px !important;
}
