
button.action_redirect_view:hover {
    text-decoration: underline;
}
.link_button {
	font-size: 15px;
	text-align: right;
}
.action_redirect_view {
	border-style: none;
	background: transparent;
	color: steelblue;
}
.table_header {
	font-size: 13px;
	color: red;
	border: 1px solid black;
}
.body_data {
	border: 1px solid black;
}